<form asp-action="Search" asp-controller="HangHoa" style="display:flex ; ">
    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="query">
    <button style=" border: none;background-color: #FFFFFF;">
        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
    </button>
</form>